*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/cpu-perfetto-20250703T105242.trace
/cpu-perfetto-20250703T105310.trace

# HTML reports and documentation files
*.html

# Markdown documentation files (excluding README.md)
*.md
!README.md
