<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <application>
        <service
            android:name=".DigitalClockWallpaperService"
            android:label="@string/digital_clock_wallpaper_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/digital_clock_wallpaper" />
        </service>

        <service
                android:name=".service.PagerWallpaperService"
                android:label="@string/digital_clock_wallpaper_name"
                android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.service.PagerWallpaperService" />
            </intent-filter>
            <meta-data
                    android:name="android.service.wallpaper"
                    android:resource="@xml/digital_clock_wallpaper" />
        </service>
        
        <service
            android:name=".RomaMarinaWallpaperService"
            android:label="@string/roma_marina_wallpaper_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/roma_marina_wallpaper" />
        </service>
    </application>

</manifest>